.popup {
  width: 510px;
  height: 410px;
  padding: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  color-scheme: light;
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 600px) {
  .popup {
    width: 360px;
    height: 398px;
    padding: 38px 0;
  }
}

@media screen and (max-width: 450px) {
  .popup {
    width: 282px;
    height: 394px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
