.profile__edit-icon {
  display: block;
  background: url(../../../images/edit-icon.svg) no-repeat center;
  width: 10px;
  height: 10px;
  padding: 6px;
}

@media screen and (max-width: 750px) {
  .profile__edit-icon {
    width: 8px;
    height: 8px;
    padding: 4px;
  }
}
