.profile__about {
  max-width: 500px;
  color: #fff;
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .profile__about {
    max-width: 350px;
  }
}

@media screen and (max-width: 750px) {
  .profile__about {
    max-width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .profile__about {
    font-size: 14px;
    text-align: center;
    padding-bottom: 33px;
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .profile__about {
    max-width: 200px;
    margin: auto;
  }
}
