.profile__add-btn {
  background: url(../../../images/add-icon.svg) no-repeat center / 22px 22px;
  padding: 23px 73px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.4s;
  margin-left: 15px;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-btn {
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .profile__add-btn {
    background-size: 16px 16px;
    max-width: 282px;
    margin-top: 0;
  }
}
