.header {
  /* TODO: add mixes for block positioning, more:
      - https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
      - https://ru.bem.info/methodology/html/#%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-html-%D0%BE%D0%B1%D0%B5%D1%80%D1%82%D0%BE%D0%BA */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding: 45px 0 20px;
}
