.profile__edit-btn {
  background-color: unset;
  padding: 0;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.4s;
  transform: translateY(-20px);
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .profile__edit-btn {
    transform: translateY(-15px);
  }
}
