.profile__edit-btn {
  position: absolute;
  top: 36px;
  right: 0;
  background: url(../../../images/edit-icon.svg) no-repeat center / 10px 10px;
  padding: 11px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: opacity 0.4s;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .profile__edit-btn {
    background-size: 7.5px 7.5px;
    padding: 8px;
  }
}

@media screen and (max-width: 550px) {
  .profile__edit-btn {
    top: 154px;
  }
}
