.card__title {
  /* TODO: remove max-width and max-height when JS is added */
  max-width: 190px;
  max-height: 29px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000;
}
